In [1]:
# import libraries

import numpy as np
import pandas as pd

In [2]:
path = "/content/drive/MyDrive/student_performance_project/Data_raw/StudentsPerformance.csv"
df_raw = pd.read_csv(path)

In [3]:
df_raw.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
# check for any null values 

df_raw.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [5]:
# write data to the data clean folder
df_raw.to_csv('/content/drive/MyDrive/student_performance_project/data_clean/clean_data.csv')