In [13]:
# import libraries 

import numpy as np
import pandas as pd

In [14]:
# read dataset 

path = "/content/drive/MyDrive/Frailty_project/data_raw/frailty_data.csv"
df_raw = pd.read_csv(path)

In [15]:
# print header (top 5 rows) of dataset 
df_raw.head()

   Height   Weight   Age  Grip Strenght  Frailty
0     65.8      112   30              30       N
1     71.5      136   19              31       N
2     69.4      153   45              29       N
3     68.2      142   22              28       Y
4     67.8      144   29              24       Y

In [16]:
#check for null values

df_raw.isnull().sum()

Height            0
Weight            0
Age               0
Grip Strenght     0
Frailty           0
dtype: int64

In [17]:
# rename dataframe columns to avoid confusion 

df_raw.set_axis(['height', 'weight', 'age', 'grip', 'frailty'], axis='columns', inplace=True)

In [18]:
# print dataset with new column names

print(df_raw)

   height  weight  age  grip frailty
0    65.8     112   30    30       N
1    71.5     136   19    31       N
2    69.4     153   45    29       N
3    68.2     142   22    28       Y
4    67.8     144   29    24       Y
5    68.7     123   50    26       N
6    69.8     141   51    22       Y
7    70.1     136   23    20       Y
8    67.9     112   17    19       N
9    66.8     120   39    31       N

In [19]:
#convert frailty to binary for binary classification if necessary in future

import seaborn as sn
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

df_raw['frailty']=lb.fit_transform(df_raw['frailty'])
df_raw.head()

   height  weight  age  grip  frailty
0    65.8     112   30    30        0
1    71.5     136   19    31        0
2    69.4     153   45    29        0
3    68.2     142   22    28        1
4    67.8     144   29    24        1

In [20]:
# write data to the data clean folder
df_raw.to_csv('/content/drive/MyDrive/Frailty_project/data_clean/clean_data.csv')